.myCellModule {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.myListCell {
    flex-basis: calc(50% - 5px);
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 700px) {
    .myListCell {
        flex-basis: 100%;
    }
}